@import "../Page.scss";

#driver_app{
  .pickup_panel{
    flex:2;
    max-width: 180px;
  }
  .dropdown_panel{
    flex:2;
    max-width: 235px;
  }
  .addition_panel{
    flex:2;
    max-width: 260px;
  }
}
.info_panel > div{
  margin:8px 0px;
}

.trip_detail_panel, .sensors_detail_panel, .vehicle_driver{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#driver_app{
  .vehicle_driver{
    position: relative;
    .driver_dashboard_operation{
      top: -70px;
    }
  }
}
.vehicle_panel, .driver_panel{
  width:48%;
  display: inline-block;
  padding:14px;
  .panel_content{
    width:80%;
    margin-left:0px;
    & > div{
      margin:8px 0px;
    }
  }
}

.panel_content{
  margin-left:24px;
  input{
    width: 170px;
    height: 25px;
    border: 1px solid rgb(1, 130, 186);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 0px 0px 8px;
    font-size: 1rem;
    text-align: left;
  }
}

.pickup_panel, .dropdown_panel, .addition_panel{
  flex:1;
  display: inline-block;
  padding: 0px 0px;
  min-height:131px;
  .panel_content{
    margin-left:0px;
    & > div{
      margin:8px 0px;
    }
  }
  .info_panel{
    min-height:115px;
  }
}
.map_panel, .detail_panel, .event_panel{
  padding:14px;
}

.sensors_detail_panel{
  .info_panel{
    width:45%;
    display: inline-block;
    padding: 0px 14px;
  }
}

.map_panel{
  height:250px;
}
.event_panel{
  height:100px;
  overflow: auto;
}
.panel_title{
  font-size: $subtitle-label-font-size;
  font-weight:700;
}
#driver_app .bold_title{
  font-weight: 700;
  span:first-child{
    width: 100px;
    //display: inline-block;
    text-align: right;
  }
}
.sensor_panel{
  display: flex;
  align-items: center;
  justify-content: center;
  & > div{
    width:48%;
  }
  .sensor_temperature_panel, .sensor_humidity_panel{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  .current_temperature, .current_humidity{
    font-size:2em;
    display: inline-block;
  }
  .current_temperature{
    color:rgb(236, 121, 115);
  }
  .current_humidity{
    color: rgb(159, 194, 108);
  }
  .sensor_min_label, .sensor_set_label, .sensor_max_label{
    color: $grey-font-color !important;
    font-size:$navigate-font-size;
    margin-left: 1px !important;
    width: 40px !important;
    height:auto !important;
  }
  .sensor_humidity, .sensor_temperature{
    display: inline-block;
    width:60%;
    & > div{
      position: relative;
      display: inline-block;
      margin-left: 20px;
      width:40px;
      height:40px;
      color: #ffffff;
      background-color: transparent;
      img{
        position: absolute;
        top: -5px;
        width: 60px;
      }
    }
    .sensor_min, .sensor_max, .sensor_set{
      & > span{
        font-size:$subtitle-label-font-size;
        position: absolute;
        top: 5px;
        left: 13px;
      }
    }
    .sensor_min, .sensor_max{
      color: $default-font-color;
    }
  }
  .sensor_humidity{
    & > div{
      img{
        left: 0px;
      }
    }
  }
  .sensor_temperature{
    & > div{
      img{
        left: -6px;
      }
    }
  }
}
.driver_dashboard_operation{
  //float: right;
  position: absolute;
  right: 16px;
  top: 0;
  & > div > button, & > button{
    width: 80px;
    height:30px;
    border-radius: 5px;
  }
  .button_closed{

  }
}
.driver_dashboard_header_info{
  position: absolute;
  left: 0;
  top: -90px;
  & > div{
    display: flex;
    align-items: center;
  }
  .dispatch_image{
    display: inline-block;
    img{
      width: 130%;
    }
  }
  .dispatch_header{
    display: inline-block;
    margin-left: 20px;
    font-weight:700;
  }
}
.driver_dashboard_button{
  font-size:$action-font-size;
  display: inline-block;
  border:1px solid #007aff;
  width: 100px;
  height:25px;
  text-align: center;
  padding-top:5px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ffffff;
  margin:0px 4px;
}

.button_selected{
  color: #007aff;
  background-color: #ffffff;
}
.button_unselected{
  color: #ffffff;
  background-color: #007aff;
}