@import "../Page/Page.scss";
.calendar_panel{
  width:100%;
  .calendar_title{
    font-weight:700;
    font-size: $title-font-size;
    background-color: $grey-font-color-2;
    position: fixed;
    left: 0;
    right: 0;
    top: 90px;
    padding: 0rem 0.75rem;
    z-index: 30;
    .calendar_title_content_1{
      text-align: center;
    }
    .calendar_title_content_2{
      text-align: center;
      font-size:$subtitle-label-font-size;
      & > div{
        display: inline-block;
        margin: 30px 14px 0px 14px;
        width:10%;
        height:35px;
      }
      & >div:first-child, & >div:last-child{
        color: rgba(0, 0, 0, 0.50);
      }
    }
    .calendar_current_month{
      display: inline-block;
      float: left;
    }
    .calendar_tab{
      display: inline-block;
      margin-left: -60px;
      & > span{
        border:1px solid $tab-button-color;
        display: inline-block;
        color: $tab-button-color;
        text-align: center;
        width: 60px;
        padding: 4px;
        font-size: $subtitle-label-font-size;
        font-weight: 400;
      }
      & > span:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      & > span:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  .tab_on_selected{
    background: $tab-button-color;
    color: #ffffff !important;
  }
  .label_on_selected{
    color: deepskyblue;
    border-bottom: 5px solid deepskyblue;
  }
}
.calendar_detail{
  width:100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 130px;
  .calendar_day, .calendar_event{
    display: inline-block;
    width:48%;
  }
  .calendar_day{
    flex:1;
    //border-right:1px solid #9da0a4;
    text-align: right;
    .calendar_hour_item{
      display: block;
      min-height:76px;
      font-size:$subtitle-label-font-size;
      margin: 0px auto;
      text-align: right;
      padding:8px;
      color: $grey-font-color;
      & > div:first-child{
        margin-top:15px;
      }
      .hour_weather{
        display: block;
        color: $grey-font-color-1;
        .weather_detail{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .current_hours{
      background-color: #ffe87c;
    }
  }
  .calendar_event{
    flex:10;
    margin-top: 36px;
    .calendar_event_item{
      display: block;
      min-height:75px;
      font-size:1.2em;
      margin: 0px auto;
      text-align: left;
      padding:8px;
      border-bottom: 1px solid #d6e9c6;
      & > div{
        position: relative;
      }
      &:first-child{
        border-top: 1px solid #d6e9c6;
      }
      &:last-child{
        border-bottom: none;
      }
      & > div:first-child{
        margin-top:15px;
      }
      .event_panel_startaddress{
        font-size:$title-font-small-size;
      }
      .event_panel_detail{
        font-size:$subtitle-label-font-size;
        color: $grey-font-color;
        &>span:first-child{
          margin-right: 32px;
        }
      }
    }
    .current_event{
      background-color: $calendar-event-color-2;//rgba(0,176,240,0.50);
      color: #ffffff;
      .driver_dashboard_operation{
        .button_selected{
          color: #007aff;
          background-color: #ffffff;
        }
      }
    }
    .list_event{
      background-color:rgba(0,176,240,0.20);
      border-left:8px solid $calendar-event-color-1;
      .button_selected{
        color: #ffffff;
        background-color: #007aff;
      }
    }
  }
}