@import "../Page.scss";

#driver_app .calendar_list{
  width:100%;
  min-height:1000px;
  margin-bottom:60px;
  padding:8px;
  background-color: #ffffff;
}
.driver_header{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  padding:0rem 0.75rem;
  font-size:$subtitle-label-font-size;
  background-color: $grey-font-color-2;
  height:100px;
  z-index: 30;
  .header_img{
    float: left;
    height:100%;
    width:130px;
    margin:25px 0px 0px 16px;
    img{
      height: 60%;
    }
  }
  .driver_header_content{
    float: right;
    padding: 8pt;
    margin-top: 25px;
    & > div{
      display: inline-block;
    }
    & > .driver_header_content_1{
      margin-right:24px;
    }
    & > div:first-child{
      margin:0px 8px;
    }
    & > div > img{
      width:50%;
      float: right;
    }
  }
}
.calendar_list{
  margin-top:90px;
}
#driver_app{
  .driver_dashboard{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 31;
    background-color:rgba(0, 0, 0, 0.61);
    .driver_dashboard_content{
      width:90%;
      height:75%;
      margin:70px auto;
      border:1px solid #ffffff;
      background: #ffffff;
      border-radius: 20px;
      overflow: hidden;
      .page{
        margin-top: 120px;
        position: relative;
        .sensor_panel{
          background-color: #f6f6f6;
          position: absolute;
          left: 0;
          right: 0;
          height: 164px;
          border-top:1px solid $grey-font-color-1;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
        .detail_panel{
          padding:14px 0px;
        }
      }
    }
  }

}